*{
 margin:auto; padding:0; text-align: 
  center;text-decoration-color: cornflowerblue;
  
}
#cabecera{
 font:bold 1.3em verdana; background-color: 
  blanchedalmond;
}
h1{text-aling:center; padding:2.5 em; color:midnightblue;}

#menu{
 float:left; width:25%; background-color: 
  darkseagreen;
  
}
#menu img{
 width:35%; margin: 5%; cursor:pointer;
  
  
}
#principal{float:right; width:75%; background-color: mediumaquamarine
}

#visor{
  margin: auto;
 width:80%; margin:20%;}
#visor img{width:100%;}

.alt{
 color:royalblue;
}