body{
background-image: url(imgen.jpg);
 background-repeat: repeat;
        background-origin: border-box;
   
}
 header {
        height: 150px;
        width: 100%;
        overflow: hidden;
        background-image: url(image.jpg);
        background-position: top center;
        margin-left: -8px;
        margin-right: -8px;
    }

    header h2 {
        color: #d7ceb2;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	    font: 45px 'Lobster', helvetica, arial;
        letter-spacing: 5px;
        margin: 5px 5px 0px 25px;
        vertical-align: text-bottom;
    }

    header h3 {
     color:seagreen;
 text-align:  center;
        margin: 0px 0px 0px 70px;
        text-shadow: 0px 1px 1px #4d4d4d, 0px 3px 3px #333;
        color: #ffffff;
        font: 15px 'Lobster', helvetica, arial;
    }

h3{
 color:seagreen;
 text-align:  center;
}
nav {
        -webkit-border-radius:10px;
     
        overflow: hidden;
        background-color:firebrick;
       padding:5px;
     width:650px;
        /*font-family: Arial;*/
        
        font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
        font-weight: 800;
        line-height: 25px 4px;
        font-size: 18px;
        border-radius: 4px 4px 5px 4px;
        margin: 22px 8px 5px 8px;
    }
nav ul{
list-style: none;
 margin: 0 10px 0 10px;
 padding: 0;
}
nav ul li{
-webkit-border-radius:10px;
 float:left;
 font-family: arial, helvetica, sans-serif;
 font-size: 16px;
 margin-right: 10px;
 text-align: center;1px 0px #Grey;
 text-shadow: 10px 
}
nav ul li hover{
-webkit-box-shadow: 1px -1px 0px #999;
 border:1px solid #E3E3E3; 
}


    nav a {
     color:#999;
     display: block;
        float: left;
        font-size: 16px;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-radius: 4px 4px 5px 4px;
     /*transiciones*/
     -webkit-transition: 0.30s linear all;
     -moz-transition: 0.30s linear all;
     -o-transition: 0.30s linear all;
        /*background-color: red;*/
    }
nav ul li a:hover{
color:#000;
}
p{
 color: cornflowerblue;}


.formulario{
 margin: 10px auto;
 max-width: 800px;
 padding: 20px 0px 10px 0px;
 font: 10px, "Lucida Sans Unicode", sans-serif;
}

.formulario li{
 padding: 0;
 display:  block;
 list-style: none;
 margin: 10px 0 0 0;
 
}
.formulario label{
 margin: 15px 0 3px 0;
 padding: 0px;
 display: block;
 font: weight: bold;
}
.formulario input[type=text],
.formulario input[type=date],
.formulario input[type=datetime],
.formulario input[type=number],
.formulario input[type=search],
.formulario input[type=time],
.formulario input[type=url],
.formulario input[type=email],
textarea;
select{
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 border: 2px solid black;
 padding: 7px;
 margin: 0px;
 -webkit-transition: all 0.30s ease-in-out;
 -moz-transition: all 0.30s ease-in-out;
 -ms-transition: all 0.30s ease-in-out;
 -o-transition: all 0.30s ease-in-out;
  outline: none;
}

.formulario input[type=text]:focus,
.formulario input[type=date]:fucos,
.formulario input[type=datetime]:focus,
.formulario input[type=number]:focus,
.formulario input[type=search]:focus,
.formulario input[type=time]focus,
.formulario input[type=url]:focus,
.formulario input[type=email]:focus,
.formulario textarea: focus,

.formulario select: focus{
 -moz-box-shadow:0 0 8px #88D5E9;
 -webkit-box-shadow: 0 0 8px #88D5E9;
 box-shadow: 0 0 8px #88D5E9;
 border: 2px solid #88D5E9;
}
.formulario .field-divided{
 width: 45%;
 height: 30%;
}

.formulario .field-date:{
 width: 45%;
 height: 30%;
}
.formulario .field-date:focus{
 -moz-box-shadow:0 0 8px #88D5E9;
 -webkit-box-shadow: 0 0 8px #88D5E9;
 box-shadow: 0 0 8px #88D5E9;
 border: 2px solid #88D5E9;
}

.formulario .field-long{
 width:100%;
}
.formulario .field-select{
 width:100%;
}
.formulario .field-textarea{
 width:200px;
}

.formulario input.[type=submit], .formulario input[type=button]{
 background-color: #454545;
 padding: 8px 15px 8px 15px;
 margin: 0px  0px 10px 0px;
 border: none;
 color:#fff;
  position: relative;
  text-align: center;
  vertical-align: middle;
  position:relative;
  width: 100%;
 
}

.formulario input.[type=submit]:hover, .formulario input[type=button]:hover{
 background-color: : #808080;
 box-shadow: none;
 -moz-box-shadow:none;
 -webkit-box-shadow:none;
}

.formulario .required{
 color:black;
}